 /* CSS */
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Color scheme:
Accents: 98C559(Light green), FFEFDA (peachish), 497545 (darker green)
Text: 302F2E (Dark warm gray, might need to be darker. Main text.), 1F1E1D Titles
Background: FFF7F3 - Cream/paper color
*/
html, body {
    margin: 0;
    height: 100%
}

h1 {
  font-size: 2.2em;
}

.home-logo{
    color: white;
}

.fc-front{
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: black;
}

.fc-back{
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: black;
}

nav {
    background-image:linear-gradient(#165200, #1a6100);
    color: #98C559;
    border-bottom: 2px solid #185800;
}

.nav-item{
    padding-left: 20px;
}

.jumbotron{
    background: #f8ffef;
    align-items: center;
    height: auto;
}

footer { 
    background-color: #1a6100;
    color: #98C559;
    border-top: 2px solid #185800;
}

/* Flashcard CSS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #302F2E;
    margin: auto;
    align-content: center;
  }
  
  /* This container is needed to position the front and back side */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-front {
    background-color: #fffef7;
    color: #302F2E;
  }
  
  /* Style the back side */
  .card-back {
    background-color: #fffef7;
    color: #302F2E;
    transform: rotateY(180deg);
  } 