<!DOCTYPE html>
<head>
    <!-- Imports -->
    <link rel="stylesheet"type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href="../static/style.css"></link>
    <title>Distraction free FLASHCARDS [IN PROGRESS]</title>
</head>
<!-- Ideas: 
        1. intro to website, this is essentially the about page so that there's less navigating to do.
            If I have more details, I can make a more fleshed out "about" page that goes into more detail. -->
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="home-logo" href="homepage.html"><strong>HOMEPAGE</strong></a>
            <div class="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">About</li>
                    <li class="nav-item dropdown">Login/Signup</li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="jumbotron">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <h5>FRONT</h5>
                    </div>
                    <div class="card-back">
                        <p>BACK</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/JavaScript">
        $('.card').click(){
            $()
        }
    </script>
    <footer>
        <div>
        <p> This is the footer :)</p>
        </div>
    </footer>
</body>
